@media screen and (max-width: 1200px){
  .v-dialog{
    margin: 10px !important;
    max-height: 100% !important;
    width: 100% !important;
    .v-stepper__content{
      padding: 0px;
    }
  }
  .v-dialog--fullscreen{margin: 0px !important;}
  /*.v-list-item{
    padding: 0px !important;
  }*/
  .v-expansion-panel-header, .v-expansion-panel-content__wrap{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .v-list-item{
    padding: 0px 5px !important;
  }
}